@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Tektur:wght@400..900&display=swap');

.dm-side {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;

  text-align: center;

  background: rgb(183, 170, 153);

  height: 100vh;
  width: 50vw;
  background: rgb(200, 180, 152);

  margin-top: 10vh;

  resize: horizontal;

  position: absolute;

  overflow: scroll;
}

form {
  font-size: 2vh;
  border: none;
  padding: 0;
  margin: 0;
  text-align: left;
  width: 15vw;
  margin-top: 1.5vh;
  margin-left: 1.5vw;
}

.monsters {
  display: flex;

  align-items: center;

  p {
    margin-bottom: 0;
    font-size: 2.5vh;
    margin-left: 1.5vw;
    text-align: left;
  }

  .add-monster {
    height: 15.5vh;
    width: 15.5vh;
    border-radius: 50vh;

    margin-bottom: 2.5vh;

    display: flex;
    justify-content: space-between;

    margin-left: 1vw;

    outline: none;

    align-items: center;
  }

  .add-monster-img {
    height: 15.5vh;
    width: 15.5vh;
    border-radius: 50vh;
    outline: none;
  }
}

.npcs {
  display: flex;
  align-items: center;

  p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.5vh;
    margin-left: 1.5vw;
    text-align: left;
  }

  .add-npc {
    height: 15.5vh;
    width: 15.5vh;
    border-radius: 50vh;

    display: flex;
    justify-content: space-between;

    margin-left: 1vw;

    outline: none;

    align-items: center;
  }

  .add-npc-img {
    height: 15.5vh;
    width: 15.5vh;
    border-radius: 50vh;
    outline: none;
    margin-top: 0;
  }
}

.dmview-pcs {
  display: flex;
  align-items: center;

  p {
    margin-top: 2.5vh;
    margin-bottom: 0;
    font-size: 2.5vh;
    margin-left: 1.5vw;
    text-align: left;
  }

  .view-pc {
    height: 15.5vh;
    width: 15.5vh;
    border-radius: 50vh;

    display: flex;
    justify-content: space-between;

    margin-left: 1vw;

    outline: none;

    align-items: center;
  }

  .view-pc-img {
    height: 15.5vh;
    width: 15.5vh;
    border-radius: 50vh;
    outline: none;
  }
}

.maps {

  p {
    margin-bottom: -15vh;
    font-size: 2.5vh;
    margin-left: 1.5vw;
    text-align: left;
  }

  .dm-add-map {
    height: 15.5vh;
    width: 15.5vh;


    display: flex;
    justify-content: space-between;

    margin-left: 1vw;

    margin-top: 15vh;

    outline: none;
    align-items: center;

    background: none;
    border: none;
  }

  .add-map-img {
    width: 40vh;
    outline: none;
    z-index: 11;
    position: absolute;
    margin-left: -7vw;
    margin-top: 2vh;
  }

}

input {
  height: 5vh;
}

input[name] {
  width: 5vw;
  text-align: left;
}

input[type='text'] {
  font-size: 2vh;
  position: static;
  background: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  text-align: left;
  background: rgb(220, 213, 204);

}

input[name="monster-name"] {
  font-size: 3vh;
  color: rgb(160, 31, 31);
  padding: 0;
  margin: 0;
  width: 27.5vw;
  text-align: left;
}

input[name="monster-size"] {
  font-size: 1.75vh;
  padding: 0;
  margin: 0;
  width: 8vw;
}

input[name="monster-alignment"] {
  font-size: 1.75vh;
  padding: 0;
  margin: 0;
  width: 11vw;
}

input[name="monster-ac"] {
  width: 5vw;
  margin-left: 1vw;
  text-align: left;
}

input[name="monster-hp"] {
  width: 5vw;
  margin-left: 1vw;
  text-align: left;
}

input[name="monster-spd"] {
  width: 5vw;
  margin-left: 1vw;
  text-align: left;
}

.monster-stats {
  display: flex;
  width: 27.5vw;
  display: flex;
  margin-top: 1;
  justify-content: space-around;
}

input[name="monster-str"] {
  width: 3.5vw;
  padding: 0.5vw;
  z-index: 0;
}

input[name="monster-dex"] {
  width: 3.5vw;
  padding: 0.5vw;
  z-index: 0;
}

input[name="monster-con"] {
  width: 3.5vw;
  padding: 0.5vw;
  z-index: 0;
}

input[name="monster-int"] {
  width: 3.5vw;
  padding: 0.5vw;
  z-index: 0;
}

input[name="monster-wis"] {
  width: 3.5vw;
  padding: 0.5vw;
  z-index: 0;
}

input[name="monster-cha"] {
  width: 3.5vw;
  padding: 0.5vw;
  z-index: 0;
}

input[name="monster-saves"] {
  width: 17.5vw;
  margin-left: 0.5vw;
  text-align: left;
  z-index: 999;
}

input[name="monster-skills"] {
  width: 17.5vw;
  margin-left: 0.5vw;
  text-align: left;
  z-index: 999;
}

input[name="monster-senses"] {
  width: 17.5vw;
  margin-left: 0.5vw;
  text-align: left;
  z-index: 999;
}

input[name="monster-languages"] {
  width: 17.5vw;
  margin-left: 0.5vw;
  text-align: left;
  z-index: 999;
}

input[name="monster-challenge"] {
  width: 17.5vw;
  margin-left: 0.5vw;
  text-align: left;
  z-index: 999;
}

.size-align {
  display: inline-block;
  width: 20vw;

}

input[name="monster-alignment"] {
  font-size: 1.75vh;
  padding: 0;
  margin: 0;
}

.minimize-monster {
  color: rgb(53, 28, 12);
  position: absolute;
  margin-left: 13vw;
  margin-top: 1vh;
  font-size: 3vh;
  background: rgb(241, 236, 227);
  border-radius: 1vh;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.minimize-monster:active {
  background: rgb(233, 228, 217);
}

h1 {
  font-size: 2.5vh;
  text-align: left;
  margin-left: 1.5vw;
}

.monster-details {
  display: flex;
  flex-direction: column;
  width: 30vw;
  text-align: left;
  margin-left: 1.5vw;

}

.monster-abilities {
  p {
    font-size: 2.5vh;
  }

}



#view-monster {

  position: absolute;
  display: inline-block;

  background: rgb(220, 213, 204);
  height: 55vh;
  width: 30vw;
  top: 32.5vh;
  left: 18.5vw;

  font-size: 15vh;
  line-height: .7;
  color: rgb(53, 28, 12);

  overflow: scroll;

  border-radius: 1vh;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}



.visible {
  visibility: visible;
}