nav {

    z-index: 999;

    display: flex;
    flex-direction: row;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    background: rgb(220, 213, 204);

    justify-content: space-around;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    height: .1vh;
    width: 100vw;

    padding: 5vh;

    img {
        max-height: 7.5vh;
        max-width: 7.5vh;
    }

    div:nth-of-type(3) img {
        border-radius: 50%;
    }

    div:nth-of-type(3) {
        position: relative;
        left: 10vw;
    }

    .nav-left {
        button {
            margin-left: -25vw;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            background: rgb(241, 236, 227);
            border: none;
            border-radius: .5vh;
            font-size: 5vh;
            width: 5vw;
        }
    
        button:active {
            background: rgb(233, 228, 217);
        }
    }
}
