nav {

    z-index: 999;

    display: flex;
    flex-direction: row;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    background: rgb(220, 213, 204);

    justify-content: space-between; /* Adjusted to space elements correctly */
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    height: .1vh;
    width: 100vw;

    padding: 5vh;

    img {
        max-height: 7.5vh;
        max-width: 7.5vh;
        margin-left: -37vw; /* Adjusted to move logo back to middle*/
    }

    .logo-img {
        max-height: 7.5vh;
        max-width: 7.5vh;
        margin-left: -35vw; /* Adjusted to move logo back to the middle */
        object-fit: contain; /* Ensures the logo retains its aspect ratio */
    }

    .wizard-img {
        max-height: 7.5vh;
        max-width: 7.5vh;
        border-radius: 50%;
        object-fit: cover;
    }

    div:nth-of-type(3) {
        position: relative;
        left: 10vw;
    }

    .nav-left {
        display: flex; /* Ensures nav-left and nav-left-file are beside each other */
        align-items: center;

        button {
            margin-left: 0; /* Reset margin to ensure visibility */
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            background: rgb(241, 236, 227);
            border: none;
            border-radius: .5vh;
            font-size: 5vh;
            width: 5vw;
        }
    
        button:active {
            background: rgb(233, 228, 217);
        }
    }

    .nav-left-file {
        margin-left: -40vw; /* Adds spacing between nav-left and nav-left-file */

        button {
            margin-left: 0; /* Reset margin to ensure visibility */
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            background: rgb(241, 236, 227);
            border: none;
            border-radius: .5vh;
            font-size: 2vh;
            width: 3vw;
        }
    }

    .nav-right {
        position: relative;
        right: -10vw; /* Moves nav-right slightly to the left */
    }
}
