.playerside {
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;

    text-align: center;

    background: rgb(183, 170, 153);

    height: 100vh;
    width: 50vw;
    background: rgb(200, 180, 152);

    margin-top: 10vh;

    resize: horizontal;

    position: absolute;

    overflow: scroll;
}

.sheet-header {
    display: flex;

    margin-top: 1vh;
    margin-left: 1vh;

    overflow: scroll;

    img {
        height: 7.5vh;
        width: 7.5vh;
        border-radius: 50vh;
    }

    input {
        width: 10vw;
        background: none;
        outline: none;
        font-size: 1.7vh;
    }

}

.header2 {
    display: flex;

    margin-left: 9vw;
    margin-top: -2vw;

    input {
        width: 15vw;
        background: none;
        outline: none;
        font-size: 1.7vh;
    }
}

.player {
    display: inline-block;
}

.abilities {

    .abil-img {
        position: absolute;
        z-index: 2;
        display: flex;
        flex-direction: column;
        margin-left: 1.5vw;
    }

    .dex-img {
        margin-top: 9vh;
    }

    .con-img {
        margin-top: 9vh;
    }

    .int-img {
        margin-top: 9vh;
    }

    .wis-img {
        margin-top: 9vh;
    }

    .cha-img {
        margin-top: 9vh;
    }

    input {
        width: 5vw;
        background: none;
        outline: none;
        position: absolute;
        z-index: 3;
        text-align: center;
    }

    .form-str {
        margin-top: -5vh;
    }

    .str {
        margin-top: -2.5vh;
        margin-left: -1vw;
    }

    .str-mod {
        font-size: 2.5vh;
        margin-left: -1vw;
        margin-top: 1.5vh;
    }

    .dex {
        margin-top: 8.5vh;
        margin-left: -1vw;
    }

    .dex-mod {
        font-size: 2.5vh;
        margin-left: -1vw;
        margin-top: 12.5vh;
    }

    .con {
        margin-top: 19.5vh;
        margin-left: -1vw;
    }

    .con-mod {
        font-size: 2.5vh;
        margin-left: -1vw;
        margin-top: 23.5vh;
    }

    .int {
        margin-top: 30.5vh;
        margin-left: -1vw;
    }

    .int-mod {
        font-size: 2.5vh;
        margin-top: 34.5vh;
        margin-left: -1vw;
    }

    .wis {
        margin-top: 41.5vh;
        margin-left: -1vw;
    }

    .wis-mod {
        font-size: 2.5vh;
        margin-top: 45.5vh;
        margin-left: -1vw;
    }

    .cha {
        margin-top: 52.5vh;
        margin-left: -1vw;
    }

    .cha-mod {
        font-size: 2.5vh;
        margin-top: 56.5vh;
        margin-left: -1vw;
    }

    img {
        height: 20vh;
        margin-bottom: -18vh;
        z-index: -1;
        margin-left: -4vw;
    }

    .passive-perception {
        margin-top: 65vh;
        margin-left: -2vh;
        text-align: center;
    }
}

.top-middle {
    display: flex;
    flex-direction: row;
    text-align: center;

    input {
        background: none;
        outline: none;
    }

    .ac {
        position: absolute;
        z-index: 3;
        margin-left: 7.5vw;
        margin-top: -1vh;
    }

    .ac-img {
        width: 15vw;
        position: absolute;
        z-index: 2;
        margin-left: 2vw;
        margin-top: -2vh;
    }

    .init {
        position: absolute;
        z-index: 3;
        margin-left: 2vw;
        margin-top: -1vh;
    }

    .spd {
        position: absolute;
        z-index: 3;
        margin-left: -4vw;
        margin-top: -1vh;
    }

    .inspiration {
        position: absolute;
        z-index: 3;
        margin-left: -10vw;
        margin-top: 5.5vh;
        width: 2.5vh;
        height: 2.5vh;
    }

}

.skills {
    margin-top: 13vh;
    margin-left: 4.5vw;
    text-align: left;
    font-size: 1.3vh;
    line-height: 3vh;
    width: 15vw;
}

.center-center {

    border-radius: 1vh;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;

    background: rgba(217, 208, 192, 0.624);
    width: 10vw;

    margin-left: 20.5vw;

    margin-top: -55vh;

    .hp-container {
        input {
            width: 3vw;
            text-align: center;
            background: none;
        }

        .temp-hp {
            background: none;
        }
    }

    .center-other {
        input {
            width: 10vw;
            overflow: scroll;
            display: flex;
            font-size: 1.5vh;
            text-align: center;
            background: none;
        }
    }
}

.bottom-center {
    border-radius: 1vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background: rgba(217, 208, 192, 0.624);
    width: 15vw;
    margin-left: 18vw;
    margin-top: 1vh;
    overflow: scroll;
    padding: .5vh;

    button {
        font-family: "Cinzel Decorative", serif;
        font-weight: 700;
        font-style: normal;
        background: rgb(241, 236, 227);
        border-radius: .5vh;
        margin: .5vh;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
        font-size: 1.5vh;

    }

    .add-actions {
        font-size: 2vh;
        width: 1.5vw;
        padding: 0;
    }
    .add-spells {
        font-size: 2vh;
        width: 1.5vw;
        padding: 0;
    }
    .add-features {
        font-size: 2vh;
        width: 1.5vw;
        padding: 0;
    }
    .add-traits {
        font-size: 2vh;
        width: 1.5vw;
        padding: 0;
    }

    button:active {
        background: rgb(233, 228, 217);
    }

    h3 {
        font-size: 1.5vh;
        font-weight: 800;
        text-align: left;
        margin-left: .5vw;

    }

    p {
        font-size: 1.5vh;
    }
}

.tabcontent {
    display: none;
  }