.playerside {
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;

    text-align: center;

    background: rgb(183, 170, 153);

    height: 100vh;
    width: 50vw;
    background: rgb(200, 180, 152);

    margin-top: -101vh;

    resize: horizontal;

    position: absolute;

    z-index: 99;

    overflow: scroll;

    .sheet-header {
        display: flex;
    
        margin-top: 1vh;
        margin-left: 1vh;
    
        img {
            height: 7.5vh;
            width: 7.5vh;
            border-radius: 50vh;
        }
    
        input {
            width: 10vw;
            background: none;
            outline: none;
            font-size: 1.7vh;

            text-align: center;
        }
    
    }
    
    .header2 {
        display: flex;
    
        margin-left: 9vw;
        margin-top: -2vw;
    
        input {
            width: 15vw;
            background: none;
            outline: none;
            font-size: 1.7vh;

            text-align: center;
        }
    }
    
    .player {
        display: inline-block;
    }
    
    .abilities {

        .abil-img {
            position: absolute;
            z-index: 2;
            display: flex;
            flex-direction: column;
            margin-left: 4.5vw;
        }
    
        .str-img {
            height: 10vh;
            width: 10vh;
            margin-top: 2vh;

        }
        .dex-img {
            height: 10vh;
            width: 10vh;
            margin-top: 18vh;
        }
    
        .con-img {
            height: 10vh;
            width: 10vh;
            margin-top: 18vh;
        }
    
        .int-img {
            height: 10vh;
            width: 10vh;
            margin-top: 18vh;
        }
    
        .wis-img {
            height: 10vh;
            width: 10vh;
            margin-top: 18vh;
        }
    
        .cha-img {
            height: 10vh;
            width: 10vh;
            margin-top: 18vh;
        }

        .percep-img {
            margin-top: 18vh;
            margin-left: -6.7vw;
        }
    
        input {
            width: 5vw;
            background: none;
            outline: none;
            position: absolute;
            z-index: 3;
            text-align: center;
        }
    
        .form-str {
            margin-top: -5vh;
        }
    
        .str {
            margin-top: -4vh;
            margin-left: -.8vw;
            width: 10vh;
            height: 5vh;
        }

    
        .str-mod {
            font-size: 2.5vh;
            margin-left: -.8vw;
            margin-top: 0vh;
            width: 10vh;
            height: 5vh;
        }
    
        .dex {
            margin-top: 6vh;
            margin-left: -.8vw;
            width: 10vh;
            height: 5vh;
        }
    
        .dex-mod {
            font-size: 2.5vh;
            margin-left: -.8vw;
            margin-top: 10vh;
            width: 10vh;
            height: 5vh;
        }
    
        .con {
            margin-top: 16vh;
            margin-left: -.8vw;
            width: 10vh;
            height: 5vh;
        }
    
        .con-mod {
            font-size: 2.5vh;
            margin-left: -.8vw;
            margin-top: 20vh;
            width: 10vh;
            height: 5vh;
        }
    
        .int {
            margin-top: 26vh;
            margin-left: -.8vw;
            width: 10vh;
            height: 5vh;
        }
    
        .int-mod {
            font-size: 2.5vh;
            margin-top: 30vh;
            margin-left: -.8vw;
            width: 10vh;
            height: 5vh;
        }
    
        .wis {
            margin-top: 36vh;
            margin-left: -.8vw;
            width: 10vh;
            height: 5vh;
        }
    
        .wis-mod {
            font-size: 2.5vh;
            margin-top: 40vh;
            margin-left: -.8vw;
            width: 10vh;
            height: 5vh;
        }
    
        .cha {
            margin-top: 46vh;
            margin-left: -.8vw;
            width: 10vh;
            height: 5vh;
        }
    
        .cha-mod {
            font-size: 2.5vh;
            margin-top: 50vh;
            margin-left: -.8vw;
            width: 10vh;
            height: 5vh;
        }
    
        img {
            height: 20vh;
            margin-bottom: -18vh;
            z-index: -1;
            margin-left: -4vw;
        }
    
        .passive-perception {
            margin-top: 60vh;
            margin-left: -1.8vh;
            text-align: center;
            font-size: 3vh;
            width: 10vh;
            height: 5vh;
        }
    }
    
    .top-middle {
        display: flex;
        flex-direction: row;
        text-align: center;
    
        input {
            background: none;
            outline: none;
        }
    
        .ac {
            position: absolute;
            z-index: 3;
            margin-left: 7.5vw;
            margin-top: -1vh;
        }
    
        .ac-img {
            width: 15vw;
            position: absolute;
            z-index: 2;
            margin-left: 2vw;
            margin-top: -2vh;
        }
    
        .init {
            position: absolute;
            z-index: 3;
            margin-left: 2vw;
            margin-top: -1vh;
        }
    
        .spd {
            position: absolute;
            z-index: 3;
            margin-left: -4vw;
            margin-top: -1vh;
        }
    
        .inspiration {
            position: absolute;
            z-index: 3;
            margin-left: -10vw;
            margin-top: 5.5vh;
            width: 2.5vh;
            height: 2.5vh;
        }
    
    }
    
    .skills {
        margin-top: 13vh;
        margin-left: 4.5vw;
        text-align: left;
        font-size: 1.3vh;
        line-height: 3vh;
        width: 15vw;
    }
    
    .center-center {
    
        border-radius: 1vh;
    
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
    
        background: rgba(217, 208, 192, 0.624);
        width: 10vw;
    
        margin-left: 20.5vw;
    
        margin-top: -55vh;
    
        .hp-container {
            input {
                width: 3vw;
                text-align: center;
                background: none;
            }
    
            .temp-hp {
                background: none;
            }
        }
    
        .center-other {
            input {
                width: 10vw;
                overflow: scroll;
                display: flex;
                font-size: 1.5vh;
                text-align: center;
                background: none;
            }
        }
    }
    
    .bottom-center {
    
        position: absolute;
        z-index: 5;
    
        border-radius: 1vh;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
        background: rgba(217, 208, 192, 0.624);
        width: 15vw;
        margin-left: 18vw;
        margin-top: 1vh;
        overflow: scroll;
        padding: .5vh;
    
        button {
            font-family: "Cinzel Decorative", serif;
            font-weight: 700;
            font-style: normal;
            background: rgb(241, 236, 227);
            border-radius: .5vh;
            margin: .5vh;
            border: none;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
                rgba(0, 0, 0, 0.23) 0px 3px 6px;
            font-size: 1.5vh;
        }
    
        button:active {
            background: rgb(233, 228, 217);
        }
    
        .add-actions {
            font-size: 2vh;
            width: 1.5vw;
            padding: 0;
        }
        .add-spells {
            font-size: 2vh;
            width: 1.5vw;
            padding: 0;
        }
        .add-features {
            font-size: 2vh;
            width: 1.5vw;
            padding: 0;
        }
        .add-traits {
            font-size: 2vh;
            width: 1.5vw;
            padding: 0;
        }
    
        h3 {
            font-size: 1.5vh;
            font-weight: 800;
            text-align: left;
            margin-left: .5vw;
    
        }
    
        p {
            font-size: 1.5vh;
        }
    }
    
    .tabcontent {
        display: none;
      }
    
    .inventory-container {
    
        position: absolute;
        z-index: 7;
        width: 14vw;
        height: 30vh;
        margin-left: 34.5vw;
        margin-top: -30vh;
        padding: .5vh;
    
        border-radius: 1vh;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
        background: rgba(217, 208, 192, 0.624);
        overflow: scroll;

        .currency-name {
            display: flex;
            position: absolute;
            z-index: -1;
            p {
                padding-left: 1.5vw;
                padding-right: .5vw;
                font-size: 1.5vh;
                margin-top: 4.4vh;
                color:rgb(151, 133, 109);
            }
        }

        .currency-img {
            .platinum-img {
                position: absolute;
                z-index: -1;
                height: 4.5vh;
                width: 3vw;
                margin-left: -6.7vw;
                margin-top: .25vh;
            }
            .gold-img {
                position: absolute;
                z-index: -1;
                height: 4.2vh;
                width: 3vw;
                margin-left: -4.1vw;
                margin-top: .25vh;
            }
            .electrum-img {
                position: absolute;
                z-index: -1;
                height: 4.2vh;
                width: 2.5vw;
                margin-left: -1.2vw;
                margin-top: .25vh;
            }
            .silver-img {
                position: absolute;
                z-index: -1;
                height: 5.5vh;
                width: 3vw;
                margin-top: -.7vh;
                margin-left: 1.15vw;
            }
            .copper-img {
                position: absolute;
                z-index: -1;
                height: 4.2vh;
                width: 2.5vw;
                margin-left: 4vw;
                margin-top: .25vh;
            }
        }
    
        .currency {
            input {
                width: 2.1vw;
                font-size: 1.5vh;
                text-align: center;
                margin-left: .25vw;
                margin-right: .25vw;
                background: none;
                outline: none;
            }
        }
    
        button {
            font-family: "Cinzel Decorative", serif;
            font-weight: 800;
            font-style: normal;
            background: rgb(241, 236, 227);
            border-radius: .5vh;
            margin: .5vh;
            border: none;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
                rgba(0, 0, 0, 0.23) 0px 3px 6px;
            font-size: 2vh;
            width: 1.5vw;
        }
    
        button:active {
            background: rgb(233, 228, 217);
        }
    }
    
    .feature-container {
        position: absolute;
        z-index: 7;
        background: red;
        width: 14vw;
        height: 30vh;
        border-radius: 1vh;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
        background: rgba(217, 208, 192, 0.624);
        overflow: scroll;
        margin-left: 34.25vw;
        margin-top: 2vh;
        width: 15vw;
        padding-bottom: 1vh;
    
        button {
            font-family: "Cinzel Decorative", serif;
            font-weight: 800;
            font-style: normal;
            background: rgb(241, 236, 227);
            border-radius: .5vh;
            margin: .5vh;
            border: none;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
                rgba(0, 0, 0, 0.23) 0px 3px 6px;
            font-size: 2vh;
            width: 1.5vw;
        }
    
        button:active {
            background: rgb(233, 228, 217);
        }
    }
    
    .char-notes {
    
        position: absolute;
        z-index: 7;
        background: red;
        width: 14vw;
        height: 15vh;
        border-radius: 1vh;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
        background: rgba(217, 208, 192, 0.624);
        overflow: scroll;
        margin-left: 34.25vw;
        margin-top: 34vh;
        width: 15vw;
        font-size: 1.5vh;
    
        .notes {
            width: 14vw;
            height: 5vh;
            overflow: scroll;
            margin-top: 4vh;
            font-size: 1.5vh;
            padding-left: .5vw;
        }
    }
}
