.playerside {

    position: relative;
    bottom: 0px;
    color: black;

    

    input {
        outline: none;
    }

    .extra-button-class {
        font-family: "Cinzel Decorative", serif;
            font-weight: 800;
            font-style: normal;
            background: rgb(241, 236, 227);
            border-radius: .5vh;
            margin: .5vh;
            border: none;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
                rgba(0, 0, 0, 0.23) 0px 3px 6px;
            font-size: 2vh;
            padding-left: .3vw;
            padding-right: .3vw;
    }

    .extra-button-class:active {
        background: rgb(233, 228, 217);
    }

    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;

    text-align: center;

    background: rgb(183, 170, 153);

    height: 100vh;
    width: 50vw;
    background: rgb(200, 180, 152);

    margin-top: -101vh;

    resize: horizontal;

    position: absolute;

    z-index: 99;

    overflow: scroll;

    .sheet-header {
        display: flex;
    
        margin-top: 1vh;
        margin-left: 1vh;
    
        img {
            height: 7.5vh;
            width: 7.5vh;
            border-radius: 50vh;
        }
    
        input {
            width: 10vw;
            background: none;
            outline: none;
            font-size: 1.7vh;

            text-align: center;
        }
    
    }
    
    .header2 {
        display: flex;
    
        margin-left: 9vw;
        margin-top: -2vw;
    
        input {
            width: 15vw;
            background: none;
            outline: none;
            font-size: 1.7vh;

            text-align: center;
        }
    }
    
    .player {
        display: inline-block;
    }
    
    .abilities {

        .abil-img {
            position: absolute;
            z-index: 2;
            display: flex;
            flex-direction: column;
            margin-left: 4.5vw;
        }
    
        .str-img {
            height: 10vh;
            width: 10vh;
            margin-top: 2vh;

        }
        .dex-img {
            height: 10vh;
            width: 10vh;
            margin-top: 18vh;
        }
    
        .con-img {
            height: 10vh;
            width: 10vh;
            margin-top: 18vh;
        }
    
        .int-img {
            height: 10vh;
            width: 10vh;
            margin-top: 18vh;
        }
    
        .wis-img {
            height: 10vh;
            width: 10vh;
            margin-top: 18vh;
        }
    
        .cha-img {
            height: 10vh;
            width: 10vh;
            margin-top: 18vh;
        }

        .percep-img {
            height: 9vh;
            width: 9vh;
            margin-top: 21vh;
            margin-left: -3.8vw;
        }
    
        input {
            width: 5vw;
            background: none;
            outline: none;
            position: absolute;
            z-index: 3;
            text-align: center;
        }
    
        .form-str {
            margin-top: -5vh;
        }
    
        .str-mod {
            margin-top: -4vh;
            margin-left: -.8vw;
            width: 10vh;
            height: 5vh;
            font-size: 3vh;
        }

    
        .str {
            font-size: 2.5vh;
            margin-left: -.8vw;
            margin-top: 0vh;
            width: 10vh;
            height: 5vh;
        }
    
        .dex-mod {
            margin-top: 6vh;
            margin-left: -.8vw;
            width: 10vh;
            height: 5vh;
            font-size: 3vh;
        }
    
        .dex {
            font-size: 2.5vh;
            margin-left: -.8vw;
            margin-top: 10vh;
            width: 10vh;
            height: 5vh;
        }
    
        .con-mod {
            margin-top: 16vh;
            margin-left: -.8vw;
            width: 10vh;
            height: 5vh;
            font-size: 3vh;
        }
    
        .con {
            font-size: 2.5vh;
            margin-left: -.8vw;
            margin-top: 20vh;
            width: 10vh;
            height: 5vh;
        }
    
        .int-mod {
            margin-top: 26vh;
            margin-left: -.8vw;
            width: 10vh;
            height: 5vh;
            font-size: 3vh;
        }
    
        .int {
            font-size: 2.5vh;
            margin-top: 30vh;
            margin-left: -.8vw;
            width: 10vh;
            height: 5vh;
        }
    
        .wis-mod {
            margin-top: 36vh;
            margin-left: -.8vw;
            width: 10vh;
            height: 5vh;
            font-size: 3vh;
        }
    
        .wis {
            font-size: 2.5vh;
            margin-top: 40vh;
            margin-left: -.8vw;
            width: 10vh;
            height: 5vh;
        }
    
        .cha-mod {
            margin-top: 46vh;
            margin-left: -.8vw;
            width: 10vh;
            height: 5vh;
            font-size: 3vh;
        }
    
        .cha {
            font-size: 2.5vh;
            margin-top: 50vh;
            margin-left: -.8vw;
            width: 10vh;
            height: 5vh;
        }
    
        img {
            height: 20vh;
            margin-bottom: -18vh;
            z-index: -1;
            margin-left: -4vw;
        }
    
        .passive-perception {
            margin-top: 60vh;
            margin-left: -1.8vh;
            text-align: center;
            font-size: 3vh;
            width: 10vh;
            height: 5vh;
        }
    }
    
    .top-middle {
        display: flex;
        flex-direction: row;
        text-align: center;
    
        input {
            background: none;
            outline: none;
        }
    
        .ac {
            position: absolute;
            width: 3vw;
            height: 5vh;
            z-index: 3;
            margin-left: 6.5vw;
            margin-top: -1vh;
            text-align: center;
            font-size: 2.5vh;
        }
    
        .ac-img {
            height: 10vh;
            width: 10vh;
            position: absolute;
            z-index: 2;
            margin-left: 6.75vw;
            margin-top: 3.5vh;
        }
    
        .init {
            position: absolute;
            z-index: 3;
            margin-left: -.5vw;
            margin-top: -1vh;
            font-size: 2.5vh;
            width: 3vw;
            height: 5vh;
            z-index: 3;
            text-align: center;
        }

        .init-img {
            height: 7.5vh;
            width: 7.5vh;
            position: absolute;
            z-index: 2;
            margin-left: 13vw;
            margin-top: 5vh;
        }
    
        .spd {
            position: absolute;
            z-index: 3;
            margin-left: -7.8vw;
            margin-top: -1vh;
            font-size: 2.5vh;
            z-index: 3;
            width: 3vw;
            height: 5vh;
            text-align: center;
        }

        .spd-img {
            height: 7.5vh;
            width: 7.5vh;
            position: absolute;
            z-index: 2;
            margin-left: 18vw;
            margin-top: 5vh;
        }

        .prof-bonus {
            position: absolute;
            z-index: 3;
            margin-left: -15.3vw;
            margin-top: -1vh;
            font-size: 2.5vh;
            z-index: 3;
            width: 3vw;
            height: 5vh;
            text-align: center;
        }

        .prof-bonus-img {
            height: 7.5vh;
            width: 7.5vh;
            position: absolute;
            z-index: 2;
            margin-left: 23vw;
            margin-top: 5vh;
        }
    
        .inspiration {
            position: absolute;
            z-index: 3;
            margin-left: -21.15vw;
            margin-top: 6.2vh;
            width: 5vh;
            height: 4vh;
            background: none;
            border: none;
        }

        .inspiration-on {
            position: absolute;
            z-index: 2;
            height: 7vh;
            width: 4.5vw;
            margin-left: -22vw;
            margin-top: 5.3vh;
        }

        .inspiration-container {
            height: 7.5vh;
            width: 7.5vh;
            position: absolute;
            z-index: 2;
            margin-left: 28vw;
            margin-top: 5vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .inspiration {
            background: none;
            border: none;
            cursor: pointer;
            padding: 0;
        }

        .inspiration-img {
            width: 50px; /* Adjust size as needed */
            height: 50px;
        }
    
    }
    
    .skills {
        margin-top: 15vh;
        margin-left: 4.5vw;
        text-align: left;
        font-size: 1.3vh;
        line-height: 3vh;
        width: 15vw;

        .skill-num {
            width: 1.5vw;
            height: 3vh;
            font-size: 2vh;
            background: none;
            text-align: center;
        }

        ul {
            list-style-type:circle;

            li::marker {
                font-size: 2.5vh;
              }
        }
    }
    
    .center-center {
    
        border-radius: 1vh;
    
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
    
        background: rgba(217, 208, 192, 0.624);
        width: 10vw;
    
        margin-left: 20.5vw;
    
        margin-top: -60vh;
    
        .hp-container {

            p {
                margin-bottom: 0;
                padding-top: 1vh;
                font-size: 1.5vh;
            }

            .temp {
                font-size: 1.5vh;
            }

            input {
                width: 3vw;
                text-align: center;
                background: none;
            }
    
            .temp-hp {
                background: none;
            }
        }
    
        .center-other {
            input {
                width: 10vw;
                overflow: scroll;
                display: flex;
                font-size: 1.5vh;
                text-align: center;
                background: none;
            }
        }
    }
    
    .bottom-center {
    
        position: absolute;
        z-index: 5;
    
        border-radius: 1vh;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
        background: rgba(217, 208, 192, 0.624);
        width: 15vw;
        max-height: 36vh;
        margin-left: 18vw;
        margin-top: 1vh;
        overflow: scroll;
        padding: .5vh;
    
        button {
            font-family: "Cinzel Decorative", serif;
            font-weight: 700;
            font-style: normal;
            background: rgb(241, 236, 227);
            border-radius: .5vh;
            margin: .5vh;
            border: none;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
                rgba(0, 0, 0, 0.23) 0px 3px 6px;
            font-size: 1.5vh;
        }
    
        button:active {
            background: rgb(233, 228, 217);
        }

        .tabcontent {
            h3 {
                text-align: center;
                font-size: 2vh;
            }

            max-height: 30vh;
            overflow: scroll;
                
        }
    
        .add-actions {
            font-size: 2vh;
            width: 1.5vw;
            padding: 0;
        }

        #action-items {
            margin-top: -1vh;

            input {
                width: 14vw;
                height: 3vh; 
                background: none;
            }
            
            .action-name {
                color: rgb(160, 31, 31);
            }
            .action-desc {
                    font-size: 1.5vh;
                    text-indent: 1vw;
                    justify-content: flex-end;
                    display: inline-flex;
                    margin-bottom: 1vh;
            }
        }

        .add-spells {
            font-size: 2vh;
            width: 1.5vw;
            padding: 0;
        }

        #spell-items {
            margin-top: -1vh;

            input {
                width: 14vw;
                height: 3vh; 
                background: none;
            }
            
            .spell-name {
                color: rgb(160, 31, 31);
            }
            .spell-desc {
                    font-size: 1.5vh;
                    text-indent: 1vw;
                    justify-content: flex-end;
                    display: inline-flex;
                    margin-bottom: 1vh;
            }
        }

        .add-f {
            font-size: 2vh;
            width: 1.5vw;
            padding: 0;
        }

        #f-items {
            margin-top: -1vh;

            input {
                width: 14vw;
                height: 3vh; 
                background: none;
            }
            
            .f-name {
                color: rgb(160, 31, 31);
            }
            .f-desc {
                    font-size: 1.5vh;
                    text-indent: 1vw;
                    justify-content: flex-end;
                    display: inline-flex;
                    margin-bottom: 1vh;
            }
        }

        .add-traits {
            font-size: 2vh;
            width: 1.5vw;
            padding: 0;
        }

        #t-items {
            margin-top: -1vh;

            input {
                width: 14vw;
                height: 3vh; 
                background: none;
            }
            
            .t-name {
                color: rgb(160, 31, 31);
            }
            .t-desc {
                    font-size: 1.5vh;
                    text-indent: 1vw;
                    justify-content: flex-end;
                    display: inline-flex;
                    margin-bottom: 1vh;
            }
        }
    
        h3 {
            font-size: 1.5vh;
            font-weight: 800;
            text-align: left;
            margin-left: .5vw;
    
        }
    
        p {
            font-size: 1.5vh;
        }
    }
    
    .tabcontent {
        display: none;
      }
    
    .inventory-container {
    
        position: absolute;
        z-index: 7;
        width: 14vw;
        height: 30vh;
        margin-left: 34.5vw;
        margin-top: -30vh;
        padding: .5vh;
    
        border-radius: 1vh;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
        background: rgba(217, 208, 192, 0.624);
        overflow: scroll;

        #inventory-items {
            margin-top: -1vh;

            input {
                width: 14vw;
                height: 3vh; 
                background: none;
            }
            
            .inv-name {
                color: rgb(160, 31, 31);
            }
            .inv-desc {
                    font-size: 1.5vh;
                    text-indent: 1vw;
                    justify-content: flex-end;
                    display: inline-flex;
                    margin-bottom: 1vh;
            }
        }

        .currency-name {
            display: flex;
            position: absolute;
            z-index: -1;
            p {
                padding-left: 1.5vw;
                padding-right: .5vw;
                font-size: 1.5vh;
                margin-top: 4.4vh;
                color:rgb(151, 133, 109);
            }
        }

        .currency-img {
            .platinum-img {
                position: absolute;
                z-index: -1;
                height: 4.5vh;
                width: 3vw;
                margin-left: -6.7vw;
                margin-top: .25vh;
            }
            .gold-img {
                position: absolute;
                z-index: -1;
                height: 4.2vh;
                width: 3vw;
                margin-left: -4.1vw;
                margin-top: .25vh;
            }
            .electrum-img {
                position: absolute;
                z-index: -1;
                height: 4.2vh;
                width: 2.5vw;
                margin-left: -1.2vw;
                margin-top: .25vh;
            }
            .silver-img {
                position: absolute;
                z-index: -1;
                height: 5.5vh;
                width: 3vw;
                margin-top: -.7vh;
                margin-left: 1.15vw;
            }
            .copper-img {
                position: absolute;
                z-index: -1;
                height: 4.2vh;
                width: 2.5vw;
                margin-left: 4vw;
                margin-top: .25vh;
            }
        }
    
        .currency {
            input {
                width: 2.1vw;
                font-size: 1.5vh;
                text-align: center;
                margin-left: .25vw;
                margin-right: .25vw;
                background: none;
                outline: none;
            }
        }
    
        button {
            font-family: "Cinzel Decorative", serif;
            font-weight: 800;
            font-style: normal;
            background: rgb(241, 236, 227);
            border-radius: .5vh;
            margin: .5vh;
            border: none;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
                rgba(0, 0, 0, 0.23) 0px 3px 6px;
            font-size: 2vh;
            width: 1.5vw;
            margin-left: .5vw;
        }
    
        button:active {
            background: rgb(233, 228, 217);
        }
    }
    
    .feature-container {
        position: absolute;
        z-index: 7;
        width: 14vw;
        max-height: 35vh;
        border-radius: 1vh;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
        background: rgba(217, 208, 192, 0.624);
        overflow: scroll;
        margin-left: 34.25vw;
        margin-top: 2vh;
        width: 15vw;
        padding-bottom: 1vh;

        #feature-items {
            margin-top: -1vh;

            input {
                width: 14vw;
                height: 3vh; 
                background: none;
            }
            
            .feature-name {
                color: rgb(160, 31, 31);
            }
            .feature-desc {
                    font-size: 1.5vh;
                    text-indent: 1vw;
                    justify-content: flex-end;
                    display: inline-flex;
                    margin-bottom: 1vh;
            }
        }

        #bg-items {
            margin-top: -1vh;

            input {
                width: 14vw;
                height: 3vh; 
                background: none;
            }
            
            .bg-name {
                color: rgb(160, 31, 31);
            }
            .bg-desc {
                    font-size: 1.5vh;
                    text-indent: 1vw;
                    justify-content: flex-end;
                    display: inline-flex;
                    margin-bottom: 1vh;
            }
        }

        #extra-items {
            margin-top: -1vh;

            input {
                width: 14vw;
                height: 3vh; 
                background: none;
            }
            
            .extra-name {
                color: rgb(160, 31, 31);
            }
            .extra-desc {
                    font-size: 1.5vh;
                    text-indent: 1vw;
                    justify-content: flex-end;
                    display: inline-flex;
                    margin-bottom: 1vh;
            }
        }
    
        button {
            font-family: "Cinzel Decorative", serif;
            font-weight: 800;
            font-style: normal;
            background: rgb(241, 236, 227);
            border-radius: .5vh;
            margin: .5vh;
            border: none;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
                rgba(0, 0, 0, 0.23) 0px 3px 6px;
            font-size: 2vh;
            width: 1.5vw;
        }

        .extra-button-class {
            font-family: "Cinzel Decorative", serif;
            font-weight: 800;
            font-style: normal;
            background: rgb(241, 236, 227);
            border-radius: .5vh;
            margin: .5vh;
            border: none;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
                rgba(0, 0, 0, 0.23) 0px 3px 6px;
            font-size: 2vh;
            width: 1.5vw;
        }
    
        button:active {
            background: rgb(233, 228, 217);
        }

       
    }
    
    .char-notes {
    
        position: absolute;
        z-index: 7;
        width: 14vw;
        height: 15vh;
        border-radius: 1vh;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
        background: rgba(217, 208, 192, 0.624);
        overflow: scroll;
        margin-left: 34.25vw;
        margin-top: 34vh;
        width: 15vw;
        font-size: 1.5vh;
    
        .notes {
            width: 14vw;
            height: 5vh;
            overflow: scroll;
            margin-top: 4vh;
            font-size: 1.5vh;
            padding-left: .5vw;
        }
    }


}


#item-description {
    width: 80%;
    z-index: 9999;
}

#home-button {
    position: relative;
    z-index: 100;
    background-color: rgb(93, 75, 51);
    color: white;
    font-family: "Cinzel Decorative", serif;
    font-weight: 800;
    right: 100px;
    top: 100px;
}

#save-button {
    position: relative;
    z-index: 100;
    background-color: rgb(93, 75, 51);
    color: white;
    font-family: "Cinzel Decorative", serif;
    font-weight: 800;
    right: 180px;
    top: 160px;
}
#save-button:hover {
    background-color: rgb(93, 75, 51);
    color: white;
    font-family: "Cinzel Decorative", serif;
    font-weight: 800;
}


input {
    z-index: 99999;
}